[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"

[packages]
flask = "*"
flask-admin = "*"
flask-dotenv = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
mysqlclient = "*"
flask-migrate = "*"
flask-script = "*"
flask-wtf = "*"
flask-cors = "*"
rollbar = "*"
blinker = "*"

[requires]
python_version = "3.7"
