.intro-wrap {
  padding-top: 64px;
  height: 100vh;
  background: white;
  text-align: center;

  .half-row {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 50vh;
    background: #025baf;
  }
}
