{% extends "email/layout.html" %}

{% block title %} 문의 신청 완료 {% endblock %}

{% block content %}
<table role="presentation" class="main">

  <!-- START MAIN CONTENT AREA -->
  <tr>
    <td class="wrapper">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <p style="line-height: 1.5;">
              안녕하세요.<br/>
              다음 내용으로 '한양 하이패스' 문의 내용이 접수되었습니다.
            </p>
            <p style="line-height: 2; margin-top: 20px;">
              <b>신청 일시 :</b> {{ created_at.strftime('%Y-%m-%d %H:%M') }}<br/>
              <b>신청자 이메일 :</b> {{ email }}@hanyang.ac.kr<br/>
              <b>신청 키워드 :</b> {{ keyword}} ({{ request.host_url }}{{ keyword }})<br/>
              <b>연결 주소 :</b> <a href="{{ url }}" target="_blank">{{ url }}</a>
              <b>문의 내용</b><br/>
              <p>{{ description }}</p>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

<!-- END MAIN CONTENT AREA -->
</table>
{% endblock %}